.container {
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .currentWeatherEl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .currentWeatherEl div {
    margin-bottom: 10px;
  }
  
  .fiveDayForecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  
  .fiveDayForecast .card {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
  }