body {
    background-image: url('../images/Hood-from-grateful-vineyard.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}


.locDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    text-align: center;
    margin: 0;
}

.date {
    text-align: right;
    margin: 0;
}

.navList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLink {
    margin-right: 10px;
}

.navLink a {
    display: block;
    padding: 5px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
}

.navLink a:hover {
    background-color: #333;
    color: #fff;
}


.currentWeatherEl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.currentWeatherEl div {
    margin-bottom: 10px;
  }
  
.fiveDayForecast {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  
.fiveDayForecast .card {
    background-color: rgba(199, 198, 198, 0.35);
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
  }

@media only screen and (max-width: 752px) {
    .fiveDayForecast {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fiveDayForecast .card {
        flex-basis: 40%;
        margin: 5px;
    }
    .locDate {
        flex-direction: column;
    }
    .location, .date {
        margin-bottom: 10px;
    }
    .navList {
        justify-content: center;
    }
    .navLink {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
